.login-bg {
  height: 100vh;
  background-image: url("../../images/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-input:focus {
  box-shadow: none;
  border-color: #fff;
  border-bottom: 4px solid red;
}
.login-input {
  border: 1px solid #fff;
}
