.logo {
  height: 50px;
}
.btn-brand {
  background-color: red;
  border-radius: 50px;
  padding: 0 25px;
  color: #fff;
}
.btn-brand:hover {
  color: rgba(56, 56, 56, 0.883);
}
.input-brand {
  border-radius: 50px;
  padding: 0 25px;
  background-color: #fff;
  display: inline-block;
  width: 250px;
}
.input-brand:focus {
  box-shadow: none;
  border-color: red;
}
.hero-search-btn {
  margin-left: -50px;
  margin-bottom: 4px;
}
.hero-bg {
  background-image: url("../../images/hero-bg.png");
  height: 70vh;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card {
  border-radius: 15px;
  padding: 30px;
}
.product-card:hover {
  box-shadow: 5px 5px 20px 0px #999999;
  cursor: pointer;
}

.product-menu {
  text-decoration: none;
  padding: 5px 30px;
  color: black;
}
.product-menu:hover {
  color: red;
  border-bottom: 2px solid red;
}
.product-menu-active {
  color: red;
  border-bottom: 2px solid red;
}

.icon-container {
  height: 50px;
  width: 50px;
  background-color: red;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 28px;
  color: #fff;
}

.footer-bg {
  background-color: #191919;
}
ul.footer-menu {
  list-style: none;
  color: #fff;
}
.coppyright {
  color: #fff;
}
